<div class="container mt-4">
    <div class="card mb-3 bg-black font-white">
        <div class="card-body">
            <img src={{event.imageURL}} class="card-img-top event-img" alt="...">
            <div class="card-content-div">
                <div class="content-div">
                    <h2 class="card-title fs-2">{{event.title}}</h2>
                    <p class="card-text fs-5">{{ event.description}}</p>
                </div>
                <div class="fs-4 content-info" >
                    Date : {{event.date}} <br />
                    Participants per Team : {{event.maxMembers}} <br />
                </div>
            </div>
        </div>
    </div>
</div>
