<div class="container">
    <div class="card mb-3 bg-black font-white">
        <img src={{event.imageURL}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{event.title}}</h5>
            <p class="card-text">{{ event.description}}</p>
            Date : {{event.date}} <br />
            Max-Team Size : {{event.maxMembers}}
            <br />
            <br />
            <button class="btn btn-primary">
                Register Now
            </button>
        </div>
    </div>
</div>