<div class="container">
  <div class="row text-center p-5">
    <h1 class="uderline">CONTACT US</h1>
  </div>
  <!-- <div class="col-md-12 contact-info"> -->
  <div class="row text-center">
    <div class="col-sm-4 col-md-4" data-animation="fadeInUp">
      <lucide-icon size="44" name="map-pinned"></lucide-icon>
      <div class="title">Address</div>
      Tech Event Managment<br />
      At. STAR ARCADE, Near Umiya Circle , Opposite Side of Sky Mall, Sanala
      Road, Morbi- 363641
    </div>
    <div class="col-sm-4 col-md-4" data-animation="fadeInDown">
      <lucide-icon size="44" name="contact"></lucide-icon>
      <div class="title">Neel Maru</div>
      <div>+91-9727673689</div>
      <div class="title">Jenish Patel</div>
      <div>+91-7567252009</div>
      <div class="title">Satyam Kavar</div>
      <div>+91-9317252009</div>
    </div>
    <div class="col-sm-4 col-md-4" data-animation="fadeInUp">
      <lucide-icon size="44" name="mail"></lucide-icon>
      <div class="title">Email Addresses</div>
      <div>
        <span href="mailto:frolic@darshan.ac.in"
          >techeventmanagment&#64;gmail.com</span
        >
      </div>
    </div>
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="pt-5">
      <div class="pt-5">
        <div class="bg-dark">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3678.0527319051353!2d70.81237587542567!3d22.800509879330086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39598d057627591d%3A0x3623cf65557b7ef6!2sSTAR%20ARCADE!5e0!3m2!1sen!2sin!4v1702047393214!5m2!1sen!2sin"
            frameborder="0"
            style="width: 100%; height: 350px; border: 0"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
