<div class="container">
    <div class='row' >
        <div *ngFor="let e of events" style="height: auto;" class="card pt-2 pb-2 bg-black font-white col-md-4 m-3 mb-sm-0">
            <div class="mt-2" (click)="adminEventById(e._id)">
                <img src= {{e.imageURL}}  class="card-img-top" alt="..." />
                <div class='row clubNeme float-start bg-light-black ms-3 mt-3 mb-2 ps-3 pe-3 pt-1'>
                    {{e.date}}
                </div>
                <div class="ms-5 float-start">
                    <h3 class="">{{ e.title }}</h3>
                  </div>
                <!-- <h5 class='float-start'>{{e.title}}</h5> -->
            </div>
            <div class='Profile-footer mt-2' (click)="setForEdit(e._id)">
                <button class="btn btn-primary btn-local mb-3">
                   Edit
                </button>
            </div>
        </div>
        <div class="card add pt-5 pb-2 font-white col-md-4 m-2 mb-sm-0" (click)="add()">
            <lucide-icon name="plus" size="200" class="mt-3" ></lucide-icon>
        </div>
    </div>
</div>
