<div class="center p-5">
  <h1 class="text-center">Sign Up</h1>
  <form [formGroup]="loginForm" (ngSubmit)="signup()">
    <div class="row py-3">
      <input
        type="text"
        placeholder="username"
        id="username"
        class="form-control p-3"
        formControlName="username"
      />
    </div>
      <div class="row py-3">
        <input
          type="password"
          placeholder="password"
          id="password"
          class="form-control p-3"
          formControlName="password"
        />
      </div>
    <div class="row py-3">
      <input
        type="email"
        placeholder="email"
        id="email"
        class="form-control p-3"
        formControlName="email"
      />
    </div>
    <div class="row py-3">
      <input
        type="number"
        placeholder="Number"
        id="number"
        class="form-control p-3"
        formControlName="number"
      />
    </div>
    <button class="row m-4 float-end btn btn-primary">Sign Up</button>
    <div class="float-start mt-4" >
      <span>Have an account?</span>
      <span routerLink="/sign-in" class="ms-2 cursor text-primary">Sign in</span>
      <!-- <button class="row  btn btn-info"> Sign in </button> -->
    </div>
  </form>
</div>
