<div class="center p-5">
  <h1 class="text-center">Sign Up</h1>
  <form [formGroup]="loginForm" (ngSubmit)="signup()">
    <div class="row py-3">
      <input
        type="text"
        placeholder="username"
        id="username"
        class="form-control p-3"
        formControlName="username"
      />
    </div>
      <div class="row py-3">
        <input
          type="password"
          placeholder="password"
          id="password"
          class="form-control p-3"
          formControlName="password"
        />
      </div>
    <div class="row py-3">
      <input
        type="email"
        placeholder="email"
        id="email"
        class="form-control p-3"
        formControlName="email"
      />
    </div>
    <div class="row py-3">
      <input
        type="number"
        placeholder="Number"
        id="number"
        class="form-control p-3"
        formControlName="number"
      />
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <span>Have an account?</span>
        <span routerLink="/sign-in"  class="ms-2 cursor text-primary"
        >Sign in</span>
      </div>
          <button class="col-3 btn btn-primary" type="submit">
            Sign Up
          </button>
        </div>
        <div class="text-danger text-center mt-4 fs-3">
          <span>{{ errMsg }}</span>
    </div>
  </form>
</div>
